.content {
    margin: 10px 50px 0px 50px;
}

body {
    background-color: #DADDFF
}

h1 {
     margin: 0px 0px 10px 15px;
}

#raid-picker {
    clear: both;
}

.progress-bar {
    -webkit-transition-duration: 0.14s;
    -moz-transition-duration: 0.14s;
    -ms-transition-duration: 0.14s;
    -o-transition-duration: 0.14s;
    transition-duration: 0.14s;
}

#player_combat_stats p {
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
}

#player_inventory {
    overflow-y: scroll;
    height: 150px;
}