@font-face {
  font-family: aspex;
  src: url("../Aspex.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bold, .black-button span, .top-users .projetos .projeto .black-button2 span {
  font-weight: bold; }

.bolder {
  font-weight: 900; }

textarea:focus,
input:focus {
  outline: none; }

textarea,
input {
  border: 0px solid; }

a {
  text-decoration: none; }

body {
  text-align: center; }
  body .container1520 {
    position: relative;
    display: inline-block;
    width: 1520px;
    height: 100%; }

.ul-with-horizontal-li, header nav ul, footer nav ul, header .social .social-container ul, footer .social .social-container ul {
  list-style: none;
  display: block;
  position: relative; }

.black-button, .top-users .projetos .projeto .black-button2 {
  display: block;
  background-color: black;
  border-radius: 8px;
  transition: background-color 0.3s; }
  .black-button span, .top-users .projetos .projeto .black-button2 span {
    color: white;
    font-family: arial; }

.black-button:hover, .top-users .projetos .projeto .black-button2:hover {
  background-color: #444444; }

.float-right {
  float: right; }

footer {
  background-image: url("../img/full_width_bg_2.png"); }
  footer .logo {
    background-position-y: -30px; }

.titulo, .library h1, .library h2, .top-users h1, .apresentacao h1 {
  font-family: aspex;
  font-weight: normal; }

header, footer {
  height: 114px; }
  header .header-section, footer .header-section, header .logo, footer .logo, header nav, header footer nav, footer header nav, footer nav, header .search, footer .search, header .social, footer .social {
    float: left;
    vertical-align: top;
    height: 100%; }
  header .logo, footer .logo {
    width: 360px;
    background-image: url("../img/logo.png"); }
  header nav, footer nav {
    width: 539px; }
    header nav ul, footer nav ul {
      top: 70px; }
      header nav ul li, footer nav ul li {
        display: inline-block; }
        header nav ul li a, footer nav ul li a {
          box-sizing: content-box;
          padding: 72px 12px 24px 12px;
          font-family: arial;
          font-size: 14px;
          color: black;
          transition: background-color 0.4s; }
        header nav ul li a:hover, footer nav ul li a:hover {
          background-color: rgba(0, 0, 0, 0.1); }
        header nav ul li .bolder, footer nav ul li .bolder {
          padding: 70px 10px 22px 10px; }
  header .search, footer .search {
    width: 245px; }
    header .search .search-container, footer .search .search-container {
      position: relative;
      top: 55px;
      border-bottom: solid 1px black;
      width: 230px; }
    header .search input, footer .search input {
      height: 30px;
      width: 170px;
      font-size: 18px; }
    header .search .lupa, footer .search .lupa, header .search .apresentacao .search-container .seta-baixo, .apresentacao .search-container header .search .seta-baixo, footer .search .apresentacao .search-container .seta-baixo, .apresentacao .search-container footer .search .seta-baixo {
      display: inline-block;
      background-image: url("../img/lupa.png");
      background-size: cover;
      width: 27px;
      height: 27px;
      vertical-align: bottom;
      margin-bottom: 5px;
      margin-left: 16px; }
  header .social, footer .social {
    width: 376px; }
    header .social .social-container ul, footer .social .social-container ul {
      top: 58px;
      left: 10px;
      background-color: green; }
      header .social .social-container ul li, footer .social .social-container ul li {
        float: left; }
    header .social .social-container .black-button, footer .social .social-container .black-button, header .social .social-container .top-users .projetos .projeto .black-button2, .top-users .projetos .projeto header .social .social-container .black-button2, footer .social .social-container .top-users .projetos .projeto .black-button2, .top-users .projetos .projeto footer .social .social-container .black-button2 {
      width: 175px;
      height: 40px; }
      header .social .social-container .black-button span, footer .social .social-container .black-button span, header .social .social-container .top-users .projetos .projeto .black-button2 span, .top-users .projetos .projeto header .social .social-container .black-button2 span, footer .social .social-container .top-users .projetos .projeto .black-button2 span, .top-users .projetos .projeto footer .social .social-container .black-button2 span {
        font-size: 14px;
        line-height: 40px; }
    header .social .social-container .langs, footer .social .social-container .langs {
      position: relative;
      top: 10px;
      left: 3px; }
      header .social .social-container .langs a, footer .social .social-container .langs a {
        display: inline-block;
        color: black;
        padding: 0 5px;
        font-size: 12px;
        font-family: arial;
        transition: background-color 0.4s;
        height: 15px;
        line-height: 15px;
        border-left: solid 1px black; }
      header .social .social-container .langs a:first-child, footer .social .social-container .langs a:first-child {
        border-left: solid 1px white; }
      header .social .social-container .langs a:hover, footer .social .social-container .langs a:hover {
        background-color: rgba(0, 0, 0, 0.1); }
    header .social .social-container .social-buttons, footer .social .social-container .social-buttons {
      position: relative;
      height: 30px;
      top: 3px;
      left: 13px; }
      header .social .social-container .social-buttons a, footer .social .social-container .social-buttons a {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        background-size: 90%;
        background-repeat: no-repeat; }
      header .social .social-container .social-buttons a:not(:first-child), footer .social .social-container .social-buttons a:not(:first-child) {
        margin-left: 4px; }
      header .social .social-container .social-buttons .icon-facebook, footer .social .social-container .social-buttons .icon-facebook {
        background-image: url("../img/facebook.png"); }
      header .social .social-container .social-buttons .icon-google, footer .social .social-container .social-buttons .icon-google {
        background-image: url("../img/google.png"); }
      header .social .social-container .social-buttons .icon-twitter, footer .social .social-container .social-buttons .icon-twitter {
        background-image: url("../img/twitter.png"); }

::-webkit-input-placeholder {
  color: #a4a4a4;
  font-size: 18px;
  text-align: center; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #a4a4a4;
  font-size: 18px;
  text-align: center; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a4a4a4;
  font-size: 18px;
  text-align: center; }

:-ms-input-placeholder {
  color: #a4a4a4;
  font-size: 18px;
  text-align: center; }

.mini-seta-direita {
  background-image: url("../img/seta_direita.png");
  width: 15px;
  height: 26px;
  background-size: 100%;
  display: inline-block; }

.library {
  height: 612px;
  color: #a4a4a4;
  background-position: center; }
  .library h1 {
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 90px;
    left: 146px;
    color: black;
    margin-left: 50px; }
  .library .ver-todos {
    position: absolute;
    height: 24px;
    left: 1225px;
    top: 100px;
    text-align: left;
    line-height: 24px; }
    .library .ver-todos .mini-seta-direita {
      float: left; }
    .library .ver-todos span {
      float: left;
      font-family: arial;
      font-size: 16px;
      color: #bcbcbc;
      margin-left: 7px; }
  .library h2 {
    height: 75px;
    line-height: 75px;
    margin-left: 180px; }
  .library .projetos {
    display: inline-block;
    width: 1184px;
    margin-bottom: 100px; }
    .library .projetos .projeto {
      display: block;
      float: left;
      width: 266px;
      height: 408px;
      font-family: arial;
      border-radius: 10px;
      margin-left: 40px;
      margin-top: 160px;
      border: 1px solid #ededed;
      position: relative; }
      .library .projetos .projeto .icone {
        width: 186px;
        height: 186px;
        border: solid 1px #a7a7a7;
        border-radius: 100%; }
      .library .projetos .projeto .titulo, .library .projetos .projeto h1, .library .projetos .projeto h2, .library .projetos .projeto .top-users h1, .top-users .library .projetos .projeto h1, .library .projetos .projeto .apresentacao h1, .apresentacao .library .projetos .projeto h1 {
        font-size: 18px;
        font-family: aspex;
        color: black;
        font-weight: bold; }
      .library .projetos .projeto .descricao {
        text-align: justify;
        text-align-last: left;
        -moz-text-align-last: left;
        line-height: 14px;
        padding: 0 16px; }
        .library .projetos .projeto .descricao .texto {
          color: black;
          position: relative;
          top: 20 px;
          font-family: arial;
          font-size: 13px; }
      .library .projetos .projeto .player-placeholder {
        float: left;
        display: inline-block;
        width: 256px;
        height: 75px;
        background-color: #FDD68F;
        border-radius: 10px;
        position: absolute;
        top: 326px;
        left: 4px; }
    .library .projetos .projeto:first-child {
      margin-left: 0; }
    .library .projetos .projeto:nth-child(5) {
      margin-left: 0; }

.library:first-child {
  border-bottom: solid 1px #DBDBDB; }

.top-users {
  height: 520px;
  color: #a4a4a4;
  background-position: center; }
  .top-users h1 {
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 90px;
    left: 146px;
    color: black;
    margin-left: 50px; }
  .top-users .ver-todos {
    position: absolute;
    height: 24px;
    left: 1225px;
    top: 100px;
    text-align: left;
    line-height: 24px; }
    .top-users .ver-todos .mini-seta-direita {
      float: left; }
    .top-users .ver-todos span {
      float: left;
      font-family: arial;
      font-size: 16px;
      color: #bcbcbc;
      margin-left: 7px; }
  .top-users .projetos {
    display: inline-block;
    width: 1184px;
    margin-bottom: 100px; }
    .top-users .projetos .projeto {
      display: block;
      float: left;
      width: 143px;
      height: 211px;
      font-family: arial;
      border-radius: 10px;
      margin-left: 54px;
      margin-top: 160px;
      position: relative; }
      .top-users .projetos .projeto .icone {
        width: 102px;
        height: 102px;
        border: solid 1px #a7a7a7;
        border-radius: 100%; }
      .top-users .projetos .projeto .titulo, .top-users .projetos .projeto .library h1, .library .top-users .projetos .projeto h1, .top-users .projetos .projeto .library h2, .library .top-users .projetos .projeto h2, .top-users .projetos .projeto h1, .top-users .projetos .projeto .apresentacao h1, .apresentacao .top-users .projetos .projeto h1 {
        font-size: 12px;
        font-family: aspex;
        color: black;
        font-weight: bold; }
      .top-users .projetos .projeto .black-button, .top-users .projetos .projeto .black-button2 {
        display: inline-block;
        width: 140px;
        height: 30px;
        line-height: 30px; }
        .top-users .projetos .projeto .black-button span, .top-users .projetos .projeto .black-button2 span {
          font-size: 14px;
          font-weight: normal; }
      .top-users .projetos .projeto .black-button2 {
        margin-top: 10px;
        width: 108px;
        height: 22px;
        line-height: 22px; }
        .top-users .projetos .projeto .black-button2 span {
          font-size: 10px; }
    .top-users .projetos .projeto:first-child {
      margin-left: 24px; }

.apresentacao {
  background-image: url("../img/full_width_bg_3.png");
  background-repeat: no-repeat;
  height: 532px; }
  .apresentacao h1 {
    white-space: nowrap;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 84px; }
  .apresentacao .container-sub {
    display: inline-block;
    text-align: justify;
    text-align-last: center;
    -moz-text-align-last: center;
    font-family: arial;
    font-size: 13px;
    width: 902px;
    line-height: 15px; }
  .apresentacao .search-container {
    display: inline-block;
    border-bottom: solid 1px black;
    width: 457px;
    height: 40px;
    margin-left: 7px; }
    .apresentacao .search-container input {
      height: 30px;
      width: 390px;
      font-size: 18px; }
    .apresentacao .search-container .lupa, .apresentacao .search-container .seta-baixo {
      display: inline-block;
      background-image: url("../img/lupa.png");
      background-size: cover;
      width: 30px;
      height: 30px;
      vertical-align: bottom;
      margin-bottom: -5px;
      margin-left: 16px; }
    .apresentacao .search-container .seta-baixo {
      width: 40px;
      background-image: url("../img/seta_baixo.png");
      background-size: 100%; }

/*# sourceMappingURL=library.css.map */
