* {
    /*margin: 0;*/
}

body {
    background-color: rgb(230,230,230);
}

#gameWrapper {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 986px;
    height: 600px;
    background-color: rgb(240,240,240);
    color: black;
}

.skillWindow {
    float: left;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid black;
    border-radius: 5px;
}

progress {
    width: 100%;
}

#mineDiv {
    margin-top: 10px;
    width: 300px;
}

#smithDiv {
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
}

#slayDiv {
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
}

#craftingDiv {
    width: 966px;
}